<div style="background-color: #DFE5E9; margin-top: 2%;">
    <h1 style="color: #07446D;margin-left: 38%; margin-bottom: 5%;">Feedback Management</h1>
</div>
    
<div class="container" style="margin-top: 1%;margin-bottom: 2%;">
   <!-- <router-outlet></router-outlet>-->
   <app-login></app-login>
</div>
    
    
<div *ngIf="true">
  <a routerLink="businesshouse" routerLinkActive="active" style="display:inline-block" class="nav-link" >Business House List</a>
  <a routerLink="create-businesshouse" routerLinkActive="active" style="display:inline-block" class="nav-link" >Add Business House</a>
  <router-outlet></router-outlet>  
</div>
    